<form method="POST" action="/songs">
    <p>
    <label for=artist_name">Artist Name:</label>
    <input type="text" id="Artist Name" name="artist[name]">
    </p>
    <label for=song_name">Song Name:</label>
    <input type="text" id="Name" name="song[name]">

    <h3>Genre(s):</h3>
    <% @genres.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"><%= genre.name %>
    <% end %>
    <br>
    <br>
    <input type="submit" value="Create">
</form